<!-- templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Traffic Management System</title>
</head>
<body>
    <h1>Welcome to the Traffic Management System</h1>
    <nav>
        <ul>
            <li><a href="{% url 'addvehicle' %}">Add Vehicle</a></li>
            <li><a href="{% url 'addroads' %}">Add Road</a></li>
            <li><a href="{% url 'getroads' %}">Get Roads</a></li>
            <li><a href="{% url 'addjunction' %}">Add Junction</a></li>
            <li><a href="{% url 'getjunctions' %}">Get Junctions</a></li>
            <li><a href="{% url 'logvehicle' %}">Log Vehicle at Junction</a></li>
            <li><a href="{% url 'parkingfine' %}">Register a Parking Violation</a></li>
            <li><a href="{% url 'speedingviolation' %}">Register a Speeding Violation</a></li>
            <li><a href="{% url 'trafficanalysis' %}">Get Traffic Analysis</a></li>
            <li><a href="{% url 'analyzecongestion' %}">Congestion Analysis</a></li>
            <li><a href="{% url 'prediction' %}">Predict and suggest routes</a></li>
            

            <!-- <li><a href="{% url 'violatorlist' %}">Get list of violators</a></li> -->
        </ul>
    </nav>
</body>
</html>
